h2{
    font-family: Bungee_regular;
}
p{font-family: Catameran;}

header{
    
    #navbar-header {
        margin:0;
        padding:0;
        background-color: $black;
        overflow: hidden;

        #navigation-logo-container{
            position: relative;
            
            .navbar-brand{
                padding:0 80px;
                margin: 0;
                background-color: $purple;
                h1{
                    font-family: Bungee_regular;
                    font-size: 37px;
                    margin: 0;
                    padding: 32px;
                }
            }
            
            #navigation-beer-logo{
                position: absolute;
                left: 35px;
                top: 13px;
                transform: rotateZ(17deg);
            }
            #navigation-splatter{
                position: absolute;
                right: -81px;
                height: 117px;
                top: -6px;

            }

        }
        
        #nav-menu{
            height: 100%;
            li{
                a{
                    font-family: Catamaran;
                    text-transform: uppercase;
                    color: $white;
                    font-size: 14px;
                    font-weight: 600;
                    
                }
     
                a:hover{
                    background-color: $purple;
                }
            }
            li:visited{
                background-color: $purple;
            }
        }
    }

    #header-content{
        padding: 53px 37px 53px 87px;
        #header-welcome{
            padding-right: 87px;
                #header-welcome-copy{
                    padding-left: 22px;
                    font-size: $font-size-regular;
                    border-left: 8px solid $purple;
                    line-height: 24px;
                }
            #header-find-inner-punk{
                width: fit-content;
                margin: auto;
                a{
                    font-family: Conformity;
                    color: $purple;
                    font-size: 18px;
                }
                img{
                    height: 29px;
                    position: relative;
                    bottom: 4px;
                }

            }
        }
        #header-mailing-list{
            background-color: $purple;
            padding: 0;
            border-radius: 6px;
            h3{
                color: $white;
                background-color: $black;
                font-family: Bungee_Regular;
                font-size: 19px;
                padding: 16px 34px;
                text-align: center;
                border-radius: 6px 6px 0 0;
            }
            #header-mailing-list-interior{
                padding: 10px 30px 22px 30px;
                img{
                    display: block;
                    width: 55px;
                    margin: auto;
                }
                p{
                    font-size: 13px;
                    line-height: 1em;
                    color: $white;
                    margin-top: 10px;
                }
                #header-mailing-list-form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0;
                    input{
                        width: 100%;
                        padding: 6px;
                        font-size: 13px;
                    } 
                    button{
                        
                        color: $white;
                        background: $black;
                        border: 0;
                        padding: 10px 39px;
                        margin-top: 16px;
                        text-transform:uppercase;
                        font-size: 13px;
                    }

                }
            }
        }
    }
}

