//the .scss file is used to make the SASS changes that will be compiled into styles.css.

$purple: #844389;
$black: #252a2b;
$white: #fff;
$orange: #dd9937;
$grey: #727272;

$font-size-regular: 22px; //16 pt font
$font-size-smaller: 16px; //12 pt font
$font-size-larger: 32px; //24 pt font
$font-size-largest: 41px; //31 pt font

@import "./fonts.scss"; 
@import "./header.scss";
@import "./setlist.scss";

html,body {
    height:100%;
}
h2{
    font-family: Bungee_regular,  Arial, sans-serif;
}
p{
    font-family: Catameran, Arial, sans-serif;
}
