@charset "UTF-8";
@font-face {
  font-family: Bungee_Regular;
  src: url(../fonts/Bungee/Bungee-Regular.ttf);
}
@font-face {
  font-family: Bungee_Hairline;
  src: url(../fonts/Bungee_Hairline/BungeeHairline-Regular.ttf);
}
@font-face {
  font-family: Bungee_Inline;
  src: url(../fonts/Bungee_Inline/BungeeInline-Regular.ttf);
}
@font-face {
  font-family: Catameran;
  src: url(../fonts/Catamaran/Catamaran-Regular.ttf);
}
@font-face {
  font-family: Catameran;
  src: url(../fonts/Catamaran/Catamaran-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Catameran;
  src: url(../fonts/Catamaran/Catamaran-ExtraBold.ttf);
  font-weight: bolder;
}
@font-face {
  font-family: Catameran;
  src: url(../fonts/Catamaran/Catamaran-ExtraLight.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: Conformity;
  src: url(../fonts/Conformity/Conformity.TTF);
}
h2 {
  font-family: Bungee_regular;
}

p {
  font-family: Catameran;
}

header #navbar-header {
  margin: 0;
  padding: 0;
  background-color: #252a2b;
  overflow: hidden;
}
header #navbar-header #navigation-logo-container {
  position: relative;
}
header #navbar-header #navigation-logo-container .navbar-brand {
  padding: 0 80px;
  margin: 0;
  background-color: #844389;
}
header #navbar-header #navigation-logo-container .navbar-brand h1 {
  font-family: Bungee_regular;
  font-size: 37px;
  margin: 0;
  padding: 32px;
}
header #navbar-header #navigation-logo-container #navigation-beer-logo {
  position: absolute;
  left: 35px;
  top: 13px;
  transform: rotateZ(17deg);
}
header #navbar-header #navigation-logo-container #navigation-splatter {
  position: absolute;
  right: -81px;
  height: 117px;
  top: -6px;
}
header #navbar-header #nav-menu {
  height: 100%;
}
header #navbar-header #nav-menu li a {
  font-family: Catamaran;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
header #navbar-header #nav-menu li a:hover {
  background-color: #844389;
}
header #navbar-header #nav-menu li:visited {
  background-color: #844389;
}
header #header-content {
  padding: 53px 37px 53px 87px;
}
header #header-content #header-welcome {
  padding-right: 87px;
}
header #header-content #header-welcome #header-welcome-copy {
  padding-left: 22px;
  font-size: 16px;
  border-left: 8px solid #844389;
  line-height: 24px;
}
header #header-content #header-welcome #header-find-inner-punk {
  width: fit-content;
  margin: auto;
}
header #header-content #header-welcome #header-find-inner-punk a {
  font-family: Conformity;
  color: #844389;
  font-size: 18px;
}
header #header-content #header-welcome #header-find-inner-punk img {
  height: 29px;
  position: relative;
  bottom: 4px;
}
header #header-content #header-mailing-list {
  background-color: #844389;
  padding: 0;
  border-radius: 6px;
}
header #header-content #header-mailing-list h3 {
  color: #fff;
  background-color: #252a2b;
  font-family: Bungee_Regular;
  font-size: 19px;
  padding: 16px 34px;
  text-align: center;
  border-radius: 6px 6px 0 0;
}
header #header-content #header-mailing-list #header-mailing-list-interior {
  padding: 10px 30px 22px 30px;
}
header #header-content #header-mailing-list #header-mailing-list-interior img {
  display: block;
  width: 55px;
  margin: auto;
}
header #header-content #header-mailing-list #header-mailing-list-interior p {
  font-size: 13px;
  line-height: 1em;
  color: #fff;
  margin-top: 10px;
}
header #header-content #header-mailing-list #header-mailing-list-interior #header-mailing-list-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
header #header-content #header-mailing-list #header-mailing-list-interior #header-mailing-list-form input {
  width: 100%;
  padding: 6px;
  font-size: 13px;
}
header #header-content #header-mailing-list #header-mailing-list-interior #header-mailing-list-form button {
  color: #fff;
  background: #252a2b;
  border: 0;
  padding: 10px 39px;
  margin-top: 16px;
  text-transform: uppercase;
  font-size: 13px;
}

html, body {
  height: 100%;
}

h2 {
  font-family: Bungee_regular;
}

p {
  font-family: Catameran;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#set-list #set-list-header {
  background-color: #252a2b;
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 26px 0 87px;
}
#set-list #set-list-header h3 {
  font-family: Bungee_regular;
  color: #fff;
  margin: 0;
}
#set-list #set-list-header #set-list-header-controls {
  display: flex;
  height: 100%;
}
#set-list #set-list-header #set-list-header-controls #filter #filter-link {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 60px 0 20px;
  cursor: pointer;
  background-color: #844389;
}
#set-list #set-list-header #set-list-header-controls #filter #filter-link img {
  margin-right: 12px;
  height: 26px;
}
#set-list #set-list-header #set-list-header-controls #filter #filter-link a {
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
}
#set-list #set-list-header #set-list-header-controls #filter #filter-form {
  display: none;
  position: absolute;
  width: 394px;
  cursor: pointer;
}
#set-list #set-list-header #set-list-header-controls #filter #filter-form .filter-section {
  background-color: #9b82a0;
}
#set-list #set-list-header #set-list-header-controls #filter #filter-form .filter-section-title {
  padding: 10px 21px;
  color: #fff;
  background-color: #947099;
  text-transform: uppercase;
  margin: 0;
}
#set-list #set-list-header #set-list-header-controls #filter #filter-form #filter-checkboxes {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 40px;
  padding: 24px 21px 30px 30px;
}
#set-list #set-list-header #set-list-header-controls #filter #filter-form #filter-checkboxes input[type=checkbox] {
  border: 0;
}
#set-list #set-list-header #set-list-header-controls #filter #filter-form #filter-checkboxes label {
  color: #fff;
}
#set-list #set-list-header #set-list-header-controls #filter #filter-form .filter-section-content {
  background-color: #9b82a0;
}
#set-list #set-list-header #set-list-header-controls #filter #filter-form .slider-container {
  padding: 24px 0 30px 0;
}
#set-list #set-list-header #set-list-header-controls #filter:hover #filter-form {
  display: block;
}
#set-list #set-list-header #set-list-header-controls #set-list-search {
  display: flex;
  height: 52%;
  margin: auto;
  margin-left: 33px;
}
#set-list #set-list-header #set-list-header-controls #set-list-search input, #set-list #set-list-header #set-list-header-controls #set-list-search button {
  font-size: 14px;
  border-radius: 0;
  border: 0;
  background-color: #fff;
}
#set-list #results {
  min-height: 200px;
  padding-top: 72px;
  padding: 72px 0 0 88px;
}
#set-list #results .result {
  width: 80%;
  display: flex;
  padding-bottom: 115px;
}
#set-list #results .result .result-text {
  padding-left: 45px;
}
#set-list #results .result .result-text .result-name {
  font-family: Bungee_Regular;
  font-size: 25px;
  margin: 0;
}
#set-list #results .result .result-text .result-tagline {
  font-family: Conformity;
  font-size: 25px;
  color: #dd9937;
}
#set-list #results .result .result-text .result-ibu {
  float: left;
  color: #727272;
  border-right: 1px solid #727272;
  padding-right: 14px;
}
#set-list #results .result .result-text .result-ibu span {
  font-weight: bold;
  margin-right: 14px;
  color: #252a2b;
}
#set-list #results .result .result-text .result-abv {
  float: left;
  color: #727272;
  padding-left: 14px;
}
#set-list #results .result .result-text .result-abv span {
  font-weight: bold;
  margin-right: 14px;
  color: #252a2b;
}
#set-list #results .result .result-text .result-description {
  clear: both;
}
#set-list #results .result .result-text .result-food-pairing-list {
  background-image: url(../images/icon_food_pairing.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 71px;
  list-style: none;
}
#set-list #results .result .result-text ul li::before {
  content: "■";
  color: #dd9937;
  font-size: 0.9em;
  display: inline-block;
  width: 2em;
  margin-left: 1em;
}

/*# sourceMappingURL=styles.css.map */
