@font-face{
    font-family: Bungee_Regular;
    src: url(../fonts/Bungee/Bungee-Regular.ttf);
}
@font-face{
    font-family: Bungee_Hairline;
    src: url(../fonts/Bungee_Hairline/BungeeHairline-Regular.ttf);
}
@font-face{
    font-family: Bungee_Inline;
    src: url(../fonts/Bungee_Inline/BungeeInline-Regular.ttf);
}

@font-face{
    font-family: Catameran;
    src: url(../fonts/Catamaran/Catamaran-Regular.ttf);
}
@font-face{
    font-family: Catameran;
    src: url(../fonts/Catamaran/Catamaran-Bold.ttf);
    font-weight: bold;
}
@font-face{
    font-family: Catameran;
    src: url(../fonts/Catamaran/Catamaran-ExtraBold.ttf);
    font-weight: bolder;
}
@font-face{
    font-family: Catameran;
    src: url(../fonts/Catamaran/Catamaran-ExtraLight.ttf);
    font-weight: lighter;
}
@font-face{
    font-family: Conformity;
    src: url(../fonts/Conformity/Conformity.TTF);
}
